@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    box-sizing:border-box;
    padding:25px;
}
html {
    scroll-behavior: smooth
}



*{
    font-family: 'Poppins', sans-serif;
}
.box {
    color:white;
    font-size: 20px;
    text-align: center;
    padding:29px;
    width:20%;
    

}

.boxa {
    color:white;
    font-size: 20px;
    text-align: center;
    padding:24px;
    width:14.28%;
}

.boxb {
    color:white;
    font-size: 20px;
    text-align: center;
    padding:30px;
    width:20%;
}

.boxc {
    color:white;
    font-size: 20px;
    text-align: center;
    padding:28px;
    width:25%;
}


.box1 { background:rgb(153, 102, 204)}
.box2 {background:rgb(183, 104, 162)}
.box3 {background:rgb(153, 102, 204)}
.box4 {background:rgb(183, 104, 162)}
.box5 {background:rgb(153, 102, 204)}
.box6 {background:rgb(183, 104, 162)}
.box7 {background:rgb(153, 102, 204)}
.box8 {background:rgb(183, 104, 162)}
.box9 {background:rgb(153, 102, 204)}
.box10 {background:rgb(183, 104, 162)}


.container {
    display: flex;
    min-height:20vh;
    flex-wrap:wrap;
    
}



 .indexBackground {
    background: url(images/space.gif) no-repeat center center fixed;
    background-size: cover;
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}
.right {
    text-align:right;
}

.makeMeRed {
    color:red;
}
.makeMeWhite {
    color:white;
}
/*p {
    background-color:rgba(183, 104, 162, 0.4)
}*/
.backgroundColor {
    background-color:rgba(183, 104, 162, 0.4)
}


h1 {
    background-color: rgba(183, 104, 162,   0.4)
}
h2 {
    background-color: rgba(183, 104, 162, 0.4)
}

ul {
    background-color:rgba(183, 104, 162, 0.4)
}

.purpleBackground {

    background-color: rgba(148,0,211, 0.4)
}

img {
    max-width:30%;
    height:auto;
}
 a:link {
     color:white; /*unvisited link color*/
 }
 a:visited {
     color:white /*Visited link*/
 }
 a:hover {
     color:white
 }
 a:active {
     color:blue
 }

 .centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
 }