@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    box-sizing:border-box;
    padding:25px;
}
*{
    font-family: 'Poppins', sans-serif;
}
.box {
    color:white;
    font-size: 20px;
    text-align: center;
    padding:20px;
    width:10%;
    

}
.box1 { background:rgb(153, 102, 204)}
.box2 {background:rgb(183, 104, 162)}
.box3 {background:rgb(153, 102, 204)}
.box4 {background:rgb(183, 104, 162)}
.box5 {background:rgb(153, 102, 204)}
.box6 {background:rgb(183, 104, 162)}
.box7 {background:rgb(153, 102, 204)}
.box8 {background:rgb(183, 104, 162)}
.box9 {background:rgb(153, 102, 204)}
.box10 {background:rgb(183, 104, 162)}


.container {
    display: flex;
    min-height:20vh;
    flex-wrap:wrap;
    
   

}
 .indexBackground {
    background: url(images/space.gif) no-repeat center center fixed;
    background-size: cover;
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}
.makeMeRed {
    color:red;
}
.makeMeWhite {
    color:white;
}
p {
    background-color:rgba(183, 104, 162, 0.4)
}



h1 {
    background-color: rgba(183, 104, 162,   0.4)
}
h2 {
    background-color: rgba(183, 104, 162, 0.4)
}

ul {
    background-color:rgba(183, 104, 162, 0.4)
}

.purpleBackground {

    background-color: rgba(148,0,211, 0.4)
}

img {
    max-width:30%;
    height:auto;
}
 a:link {
     color:white; /*unvisited link color*/
 }
 a:visited {
     color:black /*Visited link*/
 }
 a:hover {
     color:Green
 }
 a:active {
     color:blue
 }

