@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    box-sizing:border-box;
    padding:25px;
}
*{
    font-family: 'Poppins', sans-serif;
}

 html {
    background: url(images/pag1bkground.gif) no-repeat center center fixed;
    background-size: cover;
}

.center {
    text-align:center;
}

.left {
    text-align:left;
}
.makeMeRed {
    color:red;
}

.pane > .back {
    position: absolute;
    width: 100%; height: 100%;
    top: auto; bottom: auto; left: auto; right: auto;
}
.pane > .cont {
    position: relative;
    z-index:10;
}






